* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans',Arial,sans-serif;
  line-height: 1.5;
}

header {
  font-weight: 500;
  font-size: calc(14px + 0.75vw);
  padding: 25px 50px;
}

p, ul {
  padding: 10px 80px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: green;
}
